.button-container {
    display: flex;
    justify-content: space-between;
  }

.query-container {
  margin-top: 10vh;
  display: flex;
  justify-content: space-between;
}
  
  .button {
    padding: 10px 20px;
    border: none;
    color: #fff;
    font-weight: bold;
  }
  
  .button-red {
    background-color: #ff0000;
  }
  
  .button-green {
    background-color: #00ff00;
  }
  
  .button-blue {
    background-color: #0000ff;
  }
  
  .button-yellow {
    background-color: #bebe3d;
  }
  