.App {
	text-align: center;
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.navBar {
  background-color: #282c34;
  color: antiquewhite;
  border: .5px dotted darkgray;
  display:flex;
  justify-content: space-between;
  padding: 10px;
}

a {
	color: antiquewhite;
}

table {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border: 1px solid darkgray;
	padding: 10px;
}

button {
	margin: 10px;
	padding: 4px;
	font-size: medium;
	background-color: whitesmoke;
	border: 1px solid gray;
	border-radius: 5px;
}

input {
  padding: 10px;
  margin: 15px;
  border-radius: 5px;
  border: 1px solid gray;
}
