.App {
	text-align: center;
	height: 40vmin;
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

button {
	padding: 10px;
	font-weight: 800;
	border-radius: 10px;
	color: #61dafb;
}

input {
	border-radius: 5px;
	padding: 5px;
}
