body {
  margin: 0px;
  padding: 0px;
  background-color:rgb(228, 225, 221);
  font-family:Verdana, Geneva, Tahoma, sans-serif ;
}

.App {
  background-color: lightpink;
  
}

h1 {
  color: dimgrey;
}

button {
  background-color: rgb(162, 212, 241);
  font-size: 20px;
  padding: 15px;
  border-radius: 10px;
  border: 2px solid lightpink;
}