.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

a {
  color:#61dafb;
}

button {
  background-color: #282c34;
  color: antiquewhite;
  padding: 5px;
  border-radius: 5px;
  font-size: x-large;
}